html, body{
    margin: 0px;
    padding: 0px;
}

.nav {
    border: 5px solid #d4ff00;
    height: 500px;
    width: 500px;
    background: #a30505;
}

.link {
    border:5px solid #000000;
    height: 300px;
    width: 300px;
    background: aqua;
}

.block {
    border: 5px solid #0000ff;
    height: 150px;
    width: 150px;
    background: #e8798b;
}
